 <!doctype html>


 <!DOCTYPE html>
<html>
<head>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	 <title>Upload new File</title>
<style>
    .bg{
        background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ffarm-field&psig=AOvVaw1hV3ivAd9JKxCN10pp2rPr&ust=1644222989313000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjps5rW6vUCFQAAAAAdAAAAABAD");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
</style>
</head>

<body style= "background-image: url({{ url_for('static', filename='a.jpg') }}) ;  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; background-color: rgba(0, 255, 0, 0);">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</body>
</html>

 </body>

 <center>
      <h1 style="color:blue ">Welcome To Machine Learning Website</h1>
     <br>
 <h3 style="color:red ">Upload new File</h3>
 <br>
 <br>
 <br>
 <br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
     <br>
     <br>
     <h3 style="color:green">RESULT:-</h3>
    <h4 style="color:black">Leaf Status:-{{cat}}</h4>
    <h4 style="color:black">Accuracy:- {{type}} %</h4>
 </center>

